<div class="container user-name">
  <div class="col-md-12">
    <h3>Welcome <%= @user.full_name %></h3>
    <h4>You are a <%= @user.type %></h4>
  </div>
</div>

<div class="container course-list">
  <div class="col-md-12">
    <%= react_component('CourseList', url: "/api/v1/courses", user: "#{current_user.id}")%>
  </div>
</div>

<div class="container semester-list">
  <div class="col-md-12">
    <%= react_component('SemesterList', url: "/api/v1/semesters", user: "#{current_user.id}")%>
  </div>
</div>
