<div class="container user-name">
  <div class="col-md-12">
    <h3>Welcome <%= @user.full_name %></h3>
    <h4>You are a <%= @user.type %></h4>
  </div>
</div>

<div class="container student-semester-list">
  <div class="col-md-12">
    <%= react_component('SemestersCourses', url: "/api/v1/students/#{@user.id}", type: "Student")%>
  </div>
</div>