<div class="container user-name">
  <div class="col-md-12">
    <h2>Welcome <%= @user.full_name %></h2>
    <h4>You are a <%= @user.type %></h4>
  </div>
</div>

<div class="container teacher-semester-list">
  <div class="col-md-12">
    <%= react_component('SemestersCourses', url: "/api/v1/teachers/#{@user.id}")%>
  </div>
</div>
